.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.elenemt{
  height: 150px;
  width: 150px;
   background-color: green;
   border-color: black;
   border:2px;

}
.row{
  padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
.col{
          width:100px;
          height: 100px;
          display: inline-block;
          border:1px solid #ccc;
          margin: 1px;
          text-align: center;
          background-color: yellow;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
